/* CSS Document */


body, td, th {
  color: #333;
  margin: 0;
  margin-bottom: .0001pt;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
}
.style2 {
  color: #900;
}
.style4 {
  font-size: 13px;
  font-weight: bold;
  color: #394451;
}
.style5 {
  color: #fff;
  font-size: 16px;
}
body {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  background: #384450 url('images/back_gradient.gif') repeat-x fixed 50% top;
}
.mainbor1 {
  border: 1px solid #fff;
}
.mainbor2 {
  border: 2px solid #deebf3;
}
.theader {
  font-size: 10px;
  font-weight: bold;
}
a:link {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #00f;
  text-decoration: none;
}
a:visited {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #00f;
  text-decoration: none;
}
a:hover {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #b10755;
  text-decoration: underline;
}
a:active {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #00f;
  text-decoration: none;
}
.bggrad {
  background-color: #384450;
  background-image: url(images/back_gradient.gif);
  background-repeat: repeat-x;
}
.redbigtext {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 22px;
  color: #bf2222;
  font-weight: bold;
}
.greybigtext {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.red16 {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  color: #bf2222;
  font-weight: bold;
}
.white16 {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 11px;
  color: #eaeaea;
  font-weight: bold;
}
.redtext {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 12px;
  color: #bf2222;
  font-weight: bold;
}
.mainbor1 {
  border: 1px solid #eaeaea;
}
.relaxedtext {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.webmdtext {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
}
.redrightsidebg {
  background-image: url(images/rightsidebg.jpg);
  background-repeat: repeat-y;
}
.greyrightsidebg {
  background-image: url(images/rightsidegreybg.jpg);
  background-repeat: repeat-y;
}
.igotleftsidebg {
  background-image: url(images/igotleftsidebg.jpg);
  background-repeat: repeat-y;
}
.igotrightsidebg {
  background-image: url(images/igotrightbg.jpg);
  background-repeat: repeat-y;
}
.igottopbg {
  background-image: url(images/igottopbg.jpg);
}
.igotbottombg {
  background-image: url(images/igotbottombg.jpg);
}
a.orderlink:link {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #06f;
}
a.orderlink:active {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #06f;
}
a.orderlink:visited {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #06f;
}
a.orderlink:hover {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #b10755;
}
a.sitelink:link {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #900;
  text-decoration: none;
}
a.sitelink:visited {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #900;
  text-decoration: none;
}
a.sitelink:hover {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #900;
  text-decoration: underline;
}
a.sitelink:active {
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #900;
  text-decoration: none;
}
.allrightbor {
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 11px;
  color: #fff;
  background-color: #990100;
}
.main_heading, h2 {
  line-height:22px;
  font-size: 18px;
  font-weight: bold;
  color: #000080;
  text-align: center;
  padding-top: 30px;
}
.sub_heading {

  font-size: 15px;
  font-weight: bold;
  color: #000080;
}
.small_text {

  font-size: 12px;
  font-style: italic;
  color: #000080;
  background-color: #deebf3;
}
.order-box {

  font-size: 12px;
  font-weight: bold;
  color: #000080;
  background-color: #deebf3;
}
.black_heading {

  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.bob_heading {

  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.black_text {

  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.simple_black {

  font-size: 14px;
  color: #000;
}
.orange_handing {

  font-size: 18px;
  font-weight: bold;
  color: #f60;
}
.maroon_text {

  font-size: 14px;
  font-weight: bold;
  color: #936;
}
.red_heading {

  font-size: 17px;
  font-weight: bold;
  color: #b10755;
}
.red_small_heading {

  font-weight: bold;
  color: #b10755;
  padding: 2px;
}
.simple_red {

  font-size: 14px;
  color: #b10755;
}
.small_orange_handing {

  font-size: 14px;
  font-weight: bold;
  color: #f60;
}
.allrightbor2 {
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-left-color: #fff;
  font-family: 'Roboto', Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 11px;
  color: #000;
  background-color: #fff;
}
.style11 {
  font-weight: bold;
  font-size: 20px;
  color: #000;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.style12 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.style13 {
  font-size: 12px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.style14 {
  font-weight: bold;
  color: #f90;
}
.style16 {
  font-size: 11px;
  font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
}
.style17 {
  font-weight: bold;
  font-size: 11px;
  font-family: 'Roboto', Arial, Verdana, Helvetica, sans-serif;
}
.style20 {
  font-weight: bold;
  font-size: 13px;
  font-style: italic;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.style21 {
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.style22 {
  font-weight: 800;
  font-size: 20px;
  font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}
.sidebox {
  font-size: 10px;
  color: white;
  line-height: 14px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #3675c8;
  text-align: center;
}
p {
  margin-right: 25px;
}
li {
  margin-right: 25px;
}
.picright {
  border-right: #fff 2px solid;
  border-top: #fff 2px solid;
  float: right;
  margin-left: 10px;
  border-left: #fff 2px solid;
  border-bottom: #fff 2px solid;
}
.footer {
  font-size: 9px;
  margin: 5px 3px 10px;
  color: #000;
  line-height: 12px;
  font-style: normal;
  font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
}
.ContentTable {
  background-color: #fff;
  border: solid 3px #333;
}
.style28 {
  font-size: 9px;
}
.style29 {
  color: #b10755;
}
.style30 {
  color: #000;
}
.style34 {
  color: #007c38;
}
.style35 {
  font-size: 16px;
  font-weight: bold;
  color: #000080;
}
.style36 {
  font-size: 12px;
  font-weight: bold;
}
.YesTable {
  background-color: #fff;
}
.toplink:link, .toplink:visited, .toplink:active {
  text-decoration: none;
  color: #fff;
}
.toplink:hover {
  color: #06f;
  text-decoration: underline;
}
.toptext {
  color: #969696;
  font-size: 9px;
}
h3 {
  color: #969696;
  font-size: 9px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.homeheadline {
  font-size: 14px;
  font-weight: bold;
  color: #c09;
}
/*** ADD-TO-CART ***/
.add-to-cart,.add-to-cart2  {
  width: 246px;
  height: 54px;
  padding: 0 15px 0 0;
  margin: 20px auto;
  display: none !important;
  color: #1c408b !important;
  font: bold 32px/52px "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  text-transform: none;
  text-align: right;
  background: url('/images/add-to-cart-mobile.png') no-repeat 0 0;
}
.add-to-cart:hover,.add-to-cart2:hover {
  color:#1c408b;
  text-decoration: none;
}
/*** MOBILE-HEADING ***/
.mobile-heading {
  margin-top: 20px;
  margin-bottom: 40px;
  display: none;
  font-size: 22px;
  text-align: center;
  color: #b10755;
}
.desktop-hidden { display: none; }
/* ==========================================================================
   _HTML5 FIXES
   ========================================================================== */
body { min-width: 320px; }
/* #chatdiv { display: none !important; } */
table[width="740"] { width: 800px; }
td[width="450"] { box-sizing: border-box; }
td[width="11"] { width: 5px; }
h1[style*="font-size:29px"] { margin-top: 10px; padding-top: 0 !important; }
ul[style*="margin-left:19"] { margin-left: 19px; }
h2 { padding-top: 28px; }
.main_heading { padding-top: 16px; }
td[height="12"], td[height="13"], td[height="9"] { line-height: 1px; }
td[height="12"] + td, td[height="13"] + td { line-height: 1px; }
td[style*="padding:0px 50px 0px 50px"] > table tr:first-of-type > td[height="14"] { height: 0; }
td[width="336"] > table tr:first-of-type > td[height="30"] { height: 16px; }
.Table_01 tr td { vertical-align: top; }
.Table_01 tr:nth-of-type(2) td[width="343"] { height: 65px; }
.Table_01 tr:nth-of-type(2) td[width="343"] > div { margin-top: 16px; margin-right: 40px; margin-left: 2px; }
.Table_01 tr:nth-of-type(2) td[width="343"] + td > img[width="1"] { height: 0 !important; }
.Table_01 tr:nth-of-type(5) img[width="343"] { margin-top: -8px; }
.Table_01 tr:nth-of-type(7) td:first-of-type img { margin-top: 8px; }
div[style*="margin-top:4;margin-left:30"] { margin-top: 4px; margin-left: 30px; }
div[style*="margin-top:10;margin-left:45"] { margin-top: 10px; margin-left: 45px; }
div[style*="margin-top:15;margin-left:45"] { margin-top: 15px; margin-left: 45px; }
div[style*="margin-top:10;margin-left:59"] { margin-top: 10px; margin-left: 59px; }
td[style*="padding:8"] { padding: 8px; }
span[style*="font-size:9"] { font-size: 9px; }
td[style*="padding-left:350px"] p { margin-right: 0; }
.index .photo { display: none !important; }
.Table_01 td { background-repeat: no-repeat; }
/* ==========================================================================
   _RESPONSIVE
   ========================================================================== */
@media (max-width: 1024px) {
  table[width="740"] { width: 100%; max-width: 100%; box-sizing: border-box; }
  td[style*="padding-left:350px"] { padding-left: 0 !important; text-align: right; }
  td[width="450"] { width: 40%; }
  td[width="450"] + td { width: 50%; }
  ul[style*="margin-left:19"] { box-sizing: border-box; }
  .index { table-layout: fixed; }
  h1[style*="font-size:29px"] { font-size: 22px !important; text-align: center; }
  h1[style*="font-size:29px"] br { display: none; }
  ul[style*="margin-left:19"] { margin-left: 0; }
  nobr { white-space: normal; }
  td[style*="padding:8"] { box-sizing: border-box; }
  .index .photo { display: block !important; margin: 0 auto; max-width: 100%; height: auto; }
  .index .video { display: none; }
  .greyrightsidebg { display: none !important; }
  .guarantee-list { width: auto !important; }
  img[width="352"] { width: 100%; height: auto; }
  #chatdiv { display: none; }
  .Table_01 tr:nth-of-type(7) td:first-of-type img { margin-top: 6px; }
}
@media (max-width: 750px) {
  td[style*="padding:0px 50px 0px 50px"] { padding: 0 10px !important; }
  .logos { width: 100%; table-layout: fixed; }
  .logos td { width: 14.28%; }
  .logos td:nth-of-type(3) { width: 14%; }
  .logos td:nth-of-type(4) { width: 16.56%; }
  .logos td:last-of-type { width: 39%; }
  .logos td img { max-width: 100%; height: auto; margin: 0 auto; display: block; }
  p { margin-right: 0; }
  td[width="11"] { width: 10px; }
  .Table_01 { table-layout: fixed; }
  .Table_01 > tbody > tr > td { background-repeat: no-repeat; }
  .Table_01 > tbody > tr:first-of-type > td:first-of-type { width: 200px; }
  .Table_01 > tbody > tr:first-of-type > td:first-of-type img, .Table_01 > tbody > tr:first-of-type > td:nth-of-type(2) img { max-width: 100%; height: auto; }
  .Table_01 > tbody > tr:first-of-type > td:nth-of-type(2) { width: 309px; }
  .Table_01 { display: none; }
  .mobile-hidden { display: none; }
  .desktop-hidden { display: block; }
  .add-to-cart { display: block !important; }
  .information-block .info-img { float: left; width: 140px; height: auto; margin-left: 0; }
  .information-block .info-right { margin-left: 150px; }
  .table-guarantee { margin: 40px 0; }
  .guarantee-box { position: relative; }
  .guarantee-list { margin-left: 5px; }
  .guarantee-img { position: absolute; width: 60px; height: auto; }
  .mobile-heading { display: block; }
}
@media (max-width: 568px) {
  h1[style*="font-size:29px"] { font-size: 18px !important; }
  .mobile-heading {}
  td[width="200"] + + td > br { display: none; }
  .languages { width: auto !important; }
  td[style*="padding:0px 50px 0px 50px"] { padding: 0 6px !important; }
  .logos { text-align: center; }
  .logos, .logos tbody, .logos tr, .logos tr td a { display: block; width: 100%; }
  .logos tr td { margin: 4px 0; display: inline-block; vertical-align: middle; float: none; }
}
@media (max-width: 414px) {
  td[width="200"] img { width: 100px; height: auto; }
  .index td { width: 100%; display: block; text-align: center; }
  .information tr:first-of-type td[width="200"] { width: 100px; }
  .information tr:first-of-type td[width="200"] img { margin-top: 20px; }
  img[width="179"] { width: auto; max-width: 100px; height: auto; }
  .ContentTable td[rowspan="10"] { display: none; }
}
.LT img {
    padding: 0px 4px 4px 0;
}